%h1 Urejanje obrazca/dokumenta


- form_tag({:action => 'update', :id => @form}, {:multipart => true, :class => 'nice'}) do
  = render :partial => 'form'
  
  - unless @form.file.nil?
    %p.file= link_to File.basename(url_for_file_column(@form, 'file')), url_for_file_column(@form, 'file')
  
  = nice_submit_tag
  

%p.admin_controls
  = link_to_back zdus_forms_path
  |
  = link_to "Izbriši", admin_zdus_forms_path('destroy', @form), :confirm => del_conf_msg(@form.title)
