= hidden_field 'attachment', 'page_id'
= hidden_field 'attachment', 'resource_category_id'
= hidden_field 'attachment', 'resource_id'
= hidden_field 'attachment', 'activities_id'
= hidden_field 'attachment', 'department_id'
= hidden_field 'attachment', 'organization_id'
= hidden_field 'attachment', 'subsection_id'
= hidden_field 'attachment', 'project_id'