%h1.new_attachment 
  %span.title Nova slika
  %span.fileicons
    = image_tag 'fileicons/typeicon_img.gif'
  %br.clear

%p Velikost slik naj bo najveÄ 1MB, priporoÄljiva velikost pa je 100kB.

- form_tag({:action => 'create'}, {:multipart => true, :class => 'nice'}) do
  = error_messages_for 'attachment'
  
  %p
    %label{ :for => "attachment_title" } Naslov slike
    = text_field 'attachment', 'title'
  %p.summary
    %label{ :for => "attachment_summary" } Opis slike
    = text_area 'attachment', 'summary'
  %p.file
    %label{ :for => "attachmentimage" } Slika (JPG, GIF, PNG)
    = file_column_field 'attachment', 'fileimage'
  
  = render :partial => 'id_fields'

  = nice_submit_tag


= render :partial => 'admin_controls'
